@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Orbitron:wght@800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100..900;1,100..900&display=swap');

body {
  color: #af1b3f;
  font-family: Helvetica, Arial, sans-serif;
  border-color: #efc69b;
}

header {
  text-align: center;
  font-family: 'Lora', serif;
  color: #473144;
}

nav {
  text-align: right;
  padding-right: 10%;
  border-top: 2px solid #efc69b;
  border-bottom: 2px solid #efc69b;
}

.main-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  justify-content: end;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  row-gap: 20px;
}

.main-header {
  text-align: center;
  margin-top: 0;
  font-size: 1.5rem;
}

.book-display {
  grid-column: 1/4;
  display: block;
}

.skiptocontent a {
  position: absolute;
  left: -999px;
  top: 10px;
  background: black;
  color: white;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
}

.skiptocontent a:focus {
  left: 10px;
}

aside.hide {
  text-align: right;
  border-right: 2px solid #efc69b;
  padding: 0 15px;
}

aside.hide p {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 5px;
}

main {
  max-width: 80%;
  margin: 0 auto;
}

/* Articles list container */
.articles-list-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Article container */
.article-container {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

/* Left column (ages, genre, rating) */
.left-column {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 250%;
}

/* Middle column (title, image, description) */
.middle-column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.main-image {
  width: 100%;
  height: auto;
}
