@import url('https://fonts.googleapis.com/css2?family=family=Mooli&display=swap');
:root {
  --primary-color: #52489c;
  --secondary-color: #59c3c3;
  --accent-color: #f45b69;
  --text-dark: #333;
  --text-light: #ebebeb;
  --primary-font: Arial, Helvetica, sans-serif;
  --secondary-font: Mooli, san-serif;
}

body {
  font-family: var(--primary-font);
  font-size: 1.2em;
  display: grid;
  margin: 0;
  padding: 0;
  height: 100%;
}
a:link,
a:visited {
  color: var(--accent-color);
}
.top-color {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--primary-color);
}

.viewer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
  max-height: 100%;
  z-index: 10;
  padding-left: 3%;
  padding-right: 3%;
}

.close-viewer {
  all: unset;
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--text-light);
  font-size: 2rem;
  cursor: pointer;
  z-index: 20;
}
img {
  max-width: 100%;
}

header {
  font-size: 8rem;
  color: var(--text-light);
  text-align: center;
}

.menu-button {
  all: unset;
  display: block;
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 3%;
  color: var(--text-light);
  font-size: 3rem;
  font-weight: bold;
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;

  padding-bottom: 5%;
}

.hide {
  display: none;
}

nav > * {
  padding: 2%;
}

h2 {
  text-align: center;
}
.gallery {
  display: grid;
}
.small-img {
  margin: 0 auto;
  display: block;
  height: 250px;
  width: 250px;
  object-fit: cover;
}

footer {
  background-color: var(--primary-color);
}

@media (min-width: 700px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
  .viewer {
    padding: 5%;
  }
}

@media (min-width: 1000px) {
  nav {
    flex-direction: row;
    justify-content: center;
  }

  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .viewer {
    padding: 5%;
  }
}
